html, body {
    padding: 0; 
    margin: 0;
    min-width: 375px;
    color: black;
    /*background-color: #0E1846;*/
    background-color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%; 
}

.nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;
    background: white;
    z-index: 1;
}

.menu-button {
    background-color: transparent;
    color: black;
    border: none; 
    width: 50px;
    height: 50px; 
    font-size: 30px;
    padding:0;
    margin-right: 30px;
}

.logo {
    margin-right: auto;
    padding-left: 25px;  
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.slide-menu {
    position: fixed;
    display: block;
    top: 84px; 
    right: 0px; 
    height: 300px; 
    width: 0px; /*189px*/
    background-color: black;
    z-index: 1;
    overflow-x: hidden;
    transition: all .5s;
    border-radius: 0px 0px 0px 16px;
}

.slide-menu a {
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 30px; 
    margin: auto;
}

.slide-menu a:hover {
    color: black
}

.slide-menu.open {
    width: 189px;
    box-shadow:-1000px 1000px 0 1000px rgba(0,0,0,.50); 
}

/*mission*/

.mission-statement {
    display: flex;
    margin-top: 84px;
    justify-content: center;
    align-items: center;
}

.mission-statement img {
    width: 50%;

}

.mission {
    padding-left: 19px;
}

.mission-statement p {
    font-size: calc(100% + 3vw);
    background: url('/resources/videos/rocket.mp4');
    width: 50%;

}

/*about*/ 
.about {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.spacex {
    position: relative; 
    display: block;
    width: 50%;
    margin: 0 5px; 
}

.spacex img {
    width: 100%;
    max-height: 500px;
    flex-basis: 1;
    border-radius: 35px;
    box-shadow: 10px 10px black;
}
.description {
    width: 50%;
    position: relative;
    display: block;
    flex-basis: 1;
    font-size: calc(80% + 2vw);
    text-align: center;
}

/*launches*/

.launches {
    display: flex; 
    justify-content: center;
}

.launch-title {
    margin: 30px
}

.launch-title p {
    font-size: calc(80% + 2vw);
}

/*launch info*/

.launch-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.launch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;

}

.ship-logo {
    position: relative; 
    display: flex;
    width: 25%;
    margin: 0 5px;
}

.info {
    width: 50%;
    position: relative;
    display: block;
    font-size: calc(80% + 1vw);
    text-align: left;
    box-shadow: 10px 10px black;
    border: black 2px solid;
    border-radius: 35px; 
}

.ship-logo img{
    width: 100%;
    max-height: 500px;
    border-radius: 20px;


}

span {
    color: orange;
}